

.email-password-login {
    background: linear-gradient(45deg, var(--spotify-green), var(--listener-grey));
    width: 100vw;
    height: 100vh;
}

.email-login-container {
    border: solid black 1px;
    width: 600px;
    position: absolute;
    left: 33%;
    top: 30%;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    background-color: rgb(221, 221, 221, 0.8);
    padding-bottom: 30px;
}

.button-box {
    margin-top: 20px;
}

#email-password-setup-button {
    font-size: 0.8rem;
    background-color: var(--spotify-green);
}

#spotify-login-button {
    font-size: 0.8rem;
    background-color: var(--spotify-green);
}