.post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--listener-grey);
    height: auto;
    min-width: fit-content;
}

.post-header {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    white-space: nowrap;
}

.post-footer {
    display: flex;
    height: 23px;
    align-items: center;
    margin-left: 63px;
    margin-bottom: 10px;
}

.post-header-text {
    padding-left: 10px;
    display: flex;
    max-width: 240px;
    width: 100%;
}

.post-display-name {
    color: rgb(48, 48, 48);
    margin-left: 2px;
    padding-left: 5px;
}

.post-username {
    font-weight: 200;
    color: rgb(48, 48, 48);
    margin-left: 2px;
    padding-left: 5px;
}

.post-text {
    margin-left: 63px;
    display: flex;
    width: 100%;
    max-width: 500px;
    white-space: pre-wrap;
}

.comment-box {
    display: flex;
    margin-left: 10px;
    max-width: 20vw;
    min-width: 350px;
}

.comment-input {
    width: 20vw;
    margin-left: 10px;
    outline: none;
}

.comment-button {
    background-color: var(--spotify-green) !important;
    color: white !important;
    font-size: 11px !important;
    font-weight: 900 !important; 
    width: 50px;
    cursor: pointer;
}

#comment-icon {
    justify-content: center;
    margin-left: 50px;
    cursor: pointer;
}

#comment-icon:hover {
    opacity: 0.5;
    background-color: rgb(123, 227, 123);
    border-radius: 30px;
    transition: color 100ms ease-out;
}

#like {
    cursor: pointer;
}

#like-count {
    margin: 1px;
}

#like:hover {
    color: red;
    background-color: rgb(201, 144, 144);
    border-radius: 30px;
    transition: color 100ms ease-out;
}

#liked {
    color: red;
    transition: color 100ms ease-out;
    cursor: pointer;
}

#liked:hover {
    opacity: 0.5;
    background-color: rgb(201, 144, 144);
    border-radius: 30px;
    transition: color 100ms ease-out;
}

#likes {
    display: flex;
    position: absolute;
}

h4 {
    margin-left: 6px;
}

textarea {
    width: 15vw;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

#timestamp {
    font-size: 13px;
    font-weight: 450;
    padding-left: 5px;
    min-width: 110px;
}

.delete-post-button {
    padding: 4px !important;
    background: red !important;
    color: white !important;
    border-radius: 30px !important;
    position:relative;
    top: 10px;
    left: 100px;
    min-width: 80px !important;
    cursor: pointer;
    font-size: 0.7rem !important;
}

.delete-post-button:hover {
    opacity: 0.5;
    background-color: rgb(201, 144, 144);
    border-radius: 30px;
    transition: color 100ms ease-out;
}

.delete {
    position: relative;
    top: 10px;
    left: 120px;
}

.comments {
    width: 200px;
    height: auto;
}

#post-options:hover {
    color: red;
    background-color: rgb(201, 144, 144);
    border-radius: 30px;
    transition: color 100ms ease-out;
}