.profile {
    flex: 0.65;
    border-right: 1px solid var(--listener-grey);
    min-width: fit-content;
    overflow-y: scroll;
}

.profile::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.profile {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#cover-photo {
    width: 40vw;
    height: 40vh;
}

#prof-pic {
    width: 150px;
    border-radius: 50%;
    border: solid white 1px;
    margin: 10px 0px 0px 50px;
}

.profile-header-content {
    margin-left: 10px;
    display: flex;
}

.profile-display-name {
    font-size: 30px;
    margin: 2px 2px 2px 50px;
}

.profile-username {
    color: rgb(128, 128, 128);
    font-size: 20px;
    margin: 2px 2px 2px 50px;
}

#name-row > p {
    margin-top: 10px;
    font-size: 16px;
}

hr {
    margin-top: 50px;
}

.edit-profile-button {
    background-color: var(--spotify-green) !important;
    position: fixed;
    left: 320px;
    border-radius: 30px !important;
    height: 50px;
}

.bio {
    width: 100%;
}